:root {
    font-size: 120%;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;

    --text-color: #383838;
    --anchor-color: blue;
    --anchor-visited-color: purple;
    --bg-color: #ffffff;
    --bg-color-accent: rgb(245,245,238);
    --image-border-color: #ddd;
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #eee;
        --bg-color: #11130f;
        --bg-color-accent: #0e0d0b;
        --anchor-color: #76abff;
        --anchor-visited-color: #9e6fff;
        --image-border-color: #888;
    }
}

a {
    color: var(--anchor-color);
}

a:visited {
    color: var(--anchor-visited-color);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    gap: 1rem;
    background-color: var(--bg-color);
    min-height: 100vmin;
}

aside, main {
    padding: 0 1rem 1rem 1rem;
}

summary {
    cursor: pointer;
}

aside {
    flex-basis: 16rem;
    background: var(--bg-color-accent);
    padding: 0 1rem 1rem 1rem;
    font-size: 95%;
}

aside img {
    display: inline-block;
    padding: 4px;
    background-color: var(--bg-color);
    border: 1px solid var(--image-border-color);
    border-radius: 4px;
}

main {
    flex-basis: 60ch;
}

summary h2 {
    display: inline;
}

dt {
    font-weight: bold;
    margin-top: 1ex;
}