body {
    /* Some parts from http://bettermotherfuckingwebsite.com */
    margin: 25px auto;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 650px;

    font-family: system-ui, sans-serif;

}

dt::after {
    content: ".";
}

/* Add a glyph to distinguish internal links. */
a[href^="#"]::after {
    content: "⤦";
    text-decoration: none;
    display: inline-block;
    margin-left: 0.1em;
}

address {
    font-style: normal;
}

address ul {
}

li.email {
    list-style-type: "📧  ";
}

li.github {
    list-style-image: url("images/github.svg");
}

li.linkedin {
    list-style-image: url("images/linkedin.svg");
}

img {
    max-width: 100%;
}

/* TODO:
 - dark mode light mode
 - make the different sections have different colours or something idk
 */
@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #ddd;
    }

    a {
        color: #abf;
    }

    a:visited {
        color: #b9d;
    }

    li.github {
        list-style-image: url("images/github_light.svg");
    }
}
