/*
    For the "measure" system, see https://every-layout.dev/rudiments/axioms/
 */
:root {
    font-size: 120%;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    gap: 1rem;
}

aside, main {
    padding: 0 1rem 1rem 1rem;
}

summary {
    cursor: pointer;
}

aside {
    flex-basis: 16rem;
    background: rgb(245,245,238);
    padding: 0 1rem 1rem 1rem;
    font-size: 95%;
}

aside img {
    display: inline-block;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

main {
    flex-basis: 60ch;
}

summary h2 {
    display: inline;
}

dt {
    font-weight: bold;
    margin-top: 1ex;
}