<!DOCTYPE html>
<html lang="en-GB">
{% include head.html %}
<body>
<header>
    <div class="container">
        <h1><a href={{ "/" | relative_url }} title="Home">{{ site.title }}</a></h1>
        {% if page.title == "Home" %}
        <h2>{{ site.tagline }}</h2>
        {% else %}
        <h2>{{ page.title }}</h2>
        {% endif %}
    </div>
</header>

<main class="container">
    <main id="content" class="col-md-8 col-sm-8">
        {{ content }}
    </main>
    <aside class="col-md-4 col-sm-4">{% include sidebar.html %}</aside>
</main>

<footer></footer>
</body>
</html>
